<%- include('partials/header') %>

<div class="jumbotron centered">
    <div class="container">
        <% if (message) { %>
            <div class="alert alert-success" role="alert">
                <%= message %>
            </div>
        <% } %>

        <i class="fas fa-key fa-6x"></i>
        <h1 class="display-3">You've Discovered My Secrets</h1>

        <% if (secrets.length > 0) { %>
            <% secrets.forEach(function(user) { %>
                <p class="secret-text"><%= user.secret %></p>
            <% }) %>
        <% } else { %>
            <p class="secret-text">No secrets submitted yet.</p>
        <% } %>

        <hr>
        <% if (email) { %>
            <a class="btn btn-dark btn-lg" href="/submit?email=<%= email %>">Submit a Secret</a>
        <% } %>
        <a class="btn btn-light btn-lg" href="/logout">Log Out</a>
    </div>
</div>

<%- include('partials/footer') %>
